.mainDiv{
    display: flex;
}
.logo{
    width: 70px;
    height: 30px;
}
.searchbar{
    display: flex;
}
.searchbar1{
    width: 30%;
    color: black;
}
.searchbar1:focus{
    border: solid black;
}
.searchbar2:focus{
    border: solid black;
}
.searchbar2{
    margin-left: 10px;
    width: 750px;
}
.navbarLogin{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.navbarLogin:hover{
    color: black;
    font-weight: bold;
    text-decoration: none !important;
}
.sellBtn{
    border-radius: 50px;
    border: 3px solid black !important;
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 0,0,0,2px;
}
.sellBtn:hover{
    background-color: white !important;
    color: black;
}
.searchBtn{
    width: 20px;
    height: 20px;
}
